<% provide(:title, "Support") %>
<div class="center jumbotron sprt_jumbo">
  <h1 class="sprt_h1">Support CryptoDeck</h1>

  <h2 class="sprt_h2">
    Each one of us is called to do something. Regardless of financial capabilities, we are all responsible for this planet and each other!
    Cryp70 H4ck3r is aiming to design, develop, and launch a brand new social media network in order to produce the highest quality of privacy,
    interactions with each other, as well as a wide variety of other services as well.<br/>
    <br/>
    <i><u>What Does It Take;</u></i><br/>
    * 35+ Hours Each Week of Code Time!<br/>
    * $150 Monthly for Hosting Services!<br/>
    * $125 Monthly for Electricity Consumption!<br/>
    * $130 Monthly for Internet Usages!<br/>
    * $120 Monthly for Mountain Dew Beverages!<br/>
    * $259 Monthly for Red Bull Energy!<br/>
    * $175 Monthly for Tobacco Usage!<br/>
    <br/>
    As you can see, it does take a lot for 1 individual to create this amazing platform that you are utilizing. Showing support does help out greatly!<br/>
    <br/>
    <strong>How can I help you?</strong><br/>
    <br/>
    You can provide assistance by;<br/>
    <br/>
    <i><u><strong style="color: #00F">Financial Donations:</strong></u></i><br/>
    <br/>
    <%= link_to 'PayPal Donation', 'https://paypal.me/Cryp70H4ck3r?country.x=US&locale.x=en_US', target: '_blank', class: 'btn btn-lg btn-primary' %><br/>
    <br/>
    <%= link_to 'CashApp Donation', 'https://cash.app/$VikingWebSolutions', target: '_blank', class: 'btn btn-lg btn-success' %><br/>
    <br/>
    <i><u><strong style="color: #00F">Code Time:</strong></u></i><br/>
    <br/>
    <%= link_to 'GitHub', 'https://github.com/Cryp70H4ck3r/CryptoDeck', target: '_blank', class: 'btn btn-primary btn-lg' %><br/>
    <br/>
    <%= link_to 'Email', 'mailto:cryp70_h4ck3r@protonmail.com', target: '_blank', class: 'btn btn-lg btn-danger' %><br/>
    <br/>
  </h2>

  <%= link_to "Enter Portal!", '#', class: "btn btn-lg btn-primary" %>&nbsp;&nbsp;&nbsp;<%= link_to 'Create Portal!', '#', class: 'btn btn-lg btn-success' %>
</div>
