<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3 usr_box">
    <h1 class="lgn_h1">Enter Portal!</h1>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>

      <%= f.label 'Email:', class: 'usr_txt' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label 'Password:', class: 'usr_txt' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>

    <p class="lgn_new_usr">New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
