<% provide(:title, "Edit user") %>
<h1>Update Your Portal</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>


            <%= f.label "Your Avatar:", class: 'frm_txt' %>
            <%= f.file_field :avatar, class: 'form-control frm_inp' %>

            <%= f.label "Your Banner:", class: 'frm_txt' %>
            <%= f.file_field :banner, class: 'form-control frm_inp' %>

            <%= f.label "First Name:", class: 'frm_txt' %>
            <%= f.text_field :first_name, class: 'form-control frm_inp', placeholder: 'Crypto' %>

            <%= f.label "Middle Name:", class: 'frm_txt' %>
            <%= f.text_field :middle_name, class: 'form-control frm_inp', placeholder: 'Bio' %>

            <%= f.label "Last Name:", class: 'frm_txt' %>
            <%= f.text_field :last_name, class: 'form-control frm_inp', placeholder: 'Hacker' %>

            <%= f.label "Username:", class: 'frm_txt' %>
            <%= f.text_field :uname, class: 'form-control frm_inp', placeholder: 'Cryp70 H4ck3r' %>

            <%= f.label "Email:", class: 'frm_txt' %>
            <%= f.email_field :email, class: 'form-control frm_inp', placeholder: 'myemail@protonmail.com' %>

            <%= f.label "Password:", class: 'frm_txt' %>
            <%= f.password_field :password, class: 'form-control frm_inp' %>

            <%= f.label "Confirm Password:", class: 'frm_txt' %>
            <%= f.password_field :password_confirmation, class: 'form-control frm_inp' %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>
    <% end %>


  </div>
</div>
